h1,
h2,
.main, 
.back {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
}

body {
    background-color: rgb(160, 160, 160);
}

img,
.imback {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: rgba(255, 0, 0, 1.0);
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}
p {
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
}
.main, .back{
    font-size: 20px;
    background-color: rgb(124, 120, 120);
  
}

li {
    margin: 10px;
    list-style-type: none;
}
dd{
    margin: 10px;
}
.back{
    background-color: rgba(0, 0, 0, 0)
}
.imback{
    width: 100px;
}